/* COLORS */

$header-color: #a6a6a6;
$paragraph-color: #333333;
$link-color: #56819F;
$link-hover-color: #FFA200;
$button-diff-color: #979797;
$button-diff-hover-color: #bababa;
$button-color: #F58220;
$button-hover-color: #FFA200;
$disabled-button-color: #E3E3E3;
$checked-box-color: #04AE00;
$checkbox-hover-color: #F2F2F2;
$link-color: #8eabbf;
$sidebar-hover-color: #282828;

/* FONTS */

$main-font: 'Roboto', sans-serif;

/* FONT SIZES */
