@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #F5F5F2;
  font-family: $main-font;
}

a {
  color: $link-color;
  font-size: 16px;
  font-weight: 200;
  text-decoration: none;
}

h2 {
  color: $header-color;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.section {
  background-color: #FFF;
  box-shadow: 5px 5px 20px 10px #e9e9e7;
  float: right;
  min-height: 800px;
  margin: 80px 20px 0;
  width: 82.1875%;

  &::before,
  &::after {
  	content: "";
  	display: table;
  	clear: both;
  }
}

.navbar {
  background-color: #FFF;
  border-bottom: 1px solid $disabled-button-color;
  position: fixed;
  left: 14.6875%;
  height: 60px;
  width: 85.3125%;
}

.sidebar{
  background-color: #191919;
  height: 100vh;
  position: fixed;
  width: 14.6875%;
  a {
    color: #000;
    display: block;
  }
  img{
    display: block;
    filter: invert(60%);
    height: 14px;
    margin: 12px auto;
    width: 14px;
  }
  .sidebar-link {
    border-left: 5px solid #191919;
    height: 40px;
    width: 100%;

    &:hover {
      background-color: $sidebar-hover-color;
      border-left: 5px solid $button-color;
      a, img, p {
        filter: invert(100%);
      }
    }
  }
  .logo {
    height: 60px;
    width: 100%;
    }
  .icon-link {
    height: 40px;
    p {
      filter: invert(60%);
      font-size: 14px;
      font-weight: 400;
      margin: 11px 0;
    }
  }
}
.sidebar-end {
  border-bottom: 1px solid #333;
  height: 40px;
  width: 100%;
}
.manager {
  margin: 20px 17px;
  h2 {
    font-size: 14px;
  }
}
.container {
  margin: 0 auto;
  max-width: 685px;

}
.section-title {
  border-bottom: 1px solid $disabled-button-color;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}

.btn {
  background-color: $button-color;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 100;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  margin: 25px 15px;
  img {
    filter: invert(100%);
    height: 15px;
    line-height: 40px;
    width: 15px;
    margin: auto 5px;
  }

  &:hover {
    background-color: $button-hover-color;
  }

  &:disabled,
  .btn[disabled] {
    background-color: $disabled-button-color;
    cursor: default;
  }
}
.btn-color-change {
  background-color: $button-diff-color;
  &:hover {
    background-color: $button-diff-hover-color;
  }
}

table {
  border-collapse: collapse;
  border-radius: 5px;
  width: 100%;
  th {
  border-bottom: 1px solid $disabled-button-color;
  height: 40px;
  }
  tr {

    &:hover {
      background-color: #f1f3f3;
    }
  }
  td {
  border-right: none;
  border-bottom: 1px solid $disabled-button-color;
  height: 40px;
  }
}

.tbl-cell-width {
  width: 280px;
}
.tbl-cell-text {
  color: $header-color;
  font-weight: bold;
}
.tbl-align-right {
  text-align: right;
}
