@import "variables";
@import "mixins";
@import "normalize";
@import "layout";
@import "components/container";
@import "components/buttons";
@import "components/section";
@import "components/text";
@import "components/table";
@import "components/site-counter";
@import "sections/sidebar";
@import "sections/navbar";
@import "pages/general";
@import "pages/details";
@import "pages/links";
@import "pages/banners";
@import "pages/personaldata";
@import "pages/payout";
@import "pages/postback";

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #F5F5F2;
  font-family: $main-font;
}
