// SECTION //

.section {
  background-color: #FFF;
  box-shadow: 5px 5px 20px 10px #e9e9e7;
  float: right;
  min-height: 300px;
  margin: 80px 20px 20px;
  padding-bottom: 20px;
  width: 82.1875%;

  &::before,
  &::after {
  	content: "";
  	display: table;
  	clear: both;
  }
}
.section-title {
  border-bottom: 1px solid $disabled-button-color;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}

// TABLE //

table {
  border-collapse: collapse;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  width: 100%;
  th {
  border-bottom: 1px solid $disabled-button-color;
  height: 40px;
  }
  tr {
  height: 40px;

    &:hover {
      background-color: #f1f3f3;
    }
  }
  td {
  border-right: none;
  border-bottom: 1px solid $disabled-button-color;
  }
}

.tbl-cell-width {
  width: 280px;
}
.tbl-cell-text {
  color: $header-color;
  font-weight: bold;
}
.tbl-align-right {
  text-align: right;
}
.tbl-align-center {
  text-align: center;
}
.tbl-border-top {
  border-top: 1px solid $disabled-button-color;
}
.tbl-row-xl {
  height: 50px;
}

// BUTTONS //

.btn {
  background-color: $button-color;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 100;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  margin: 25px 15px;
  img {
    filter: invert(100%);
    height: 15px;
    line-height: 40px;
    width: 15px;
    margin: auto 5px;
  }

  &:hover {
    background-color: $button-hover-color;
  }

  &:disabled,
  .btn[disabled] {
    background-color: $disabled-button-color;
    cursor: default;
  }
}
.btn-color-change {
  background-color: $button-diff-color;
  &:hover {
    background-color: $button-diff-hover-color;
  }
}
.btn-wider {
  padding: 0 30px;
}
.btn-align-right {
  text-align: right;
}
