table {
  border-collapse: collapse;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  width: 100%;
  th {
    border-bottom: 1px solid $disabled-button-color;
    height: 40px;
    padding: 20px 10px;
    text-align: left;
    &:hover {
      background-color: #f1f3f3;
      color: $text-color;
      cursor: pointer;
    }
  }
  tr {
    height: 40px;
    overflow: hidden;

    &:not(.no-hover):hover {
      background-color: #f1f3f3;
      cursor: pointer;
    }
  }
  td {
    border-right: none;
    border-bottom: 1px solid $disabled-button-color;
    padding: 20px 10px;
    overflow: hidden;
  }
}

.tbl-cell-width {
  width: 280px;
}
.tbl-cell-text {
  color: $header-color;
  font-weight: bold;
}
.tbl-align-right {
  text-align: right;
}
.tbl-align-center {
  text-align: center;
}
.tbl-border-top {
  border-top: 1px solid $disabled-button-color;
}
.tbl-row-xl {
  height: 50px;
}
.tbl-container {
  margin: 10px;
}
