
.general-table {
  padding: 18px 0 80px 0;
}
.chart {
  margin-top: 45px;
  padding: 10px;
}
.scroll-wrapper img {
  width: 100%;
  max-width: 100%;
}

.earnings {
  flex-wrap: wrap;
  h3 {
    padding: 0 10px;
    width: 100%;
  }
}
