// BANNERS //

.button-align {
  text-align: center;
}

// PERSONAL DATA //

.label-align {
  line-height: 62.4px;
}

// POSTBACK //

.postback-padding {
  padding: 20px;
}

.textarea-padding-left {
  padding-left: 10px;
}

.textarea-padding-right {
  padding-right: 10px;
}

.textarea-padding-bottom {
  padding-bottom: 20px;
}

.postback-text {
  padding: 20px 0;
}

label h3 {
  margin-bottom: 20px;
}
.select-padding-left {
  padding-left: 20px;
}
.select-padding-right {
  padding-right: 20px;
}
