// BANNERS //

.button-align {
  text-align: center;
}

// PERSONAL DATA //

.label-align {
  line-height: 62.4px;
}

// POSTBACK //

.postback-send-section {
  margin-top: 20px;
}
.postback-padding {
  padding: 20px;
  .postback-title {
    padding: 20px 0;
    h2, h3 {
      display: inline-block;
    }
  }
}
.postback-not-send {
  border-top: 1px solid $disabled-button-color;
  border-bottom: 1px solid $disabled-button-color;
  border-right: 1px solid $disabled-button-color;
  max-height: 300px;
  .postback-notsend-checkers {
    max-height: 200px;
  }
}
.postback-send-after {
  border-top: 1px solid $disabled-button-color;
  border-bottom: 1px solid $disabled-button-color;
  height: 300px;
}
.textarea-padding-left {
  padding-left: 10px;
}

.textarea-padding-right {
  padding-right: 10px;
}

.textarea-padding-bottom {
  padding-bottom: 20px;
}

.postback-text {
  padding: 20px 20px 0;
}

label h3 {
  margin-bottom: 20px;
}
.select-padding-left {
  padding-left: 20px;
}
.select-padding-right {
  padding-right: 20px;
}
label {
  font-size: 16px;
  input[type="checkbox"] {
    position: absolute;
    margin: 0;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    opacity: 0;

    + .icon {
      display: inline-block;
      width: 18px;
      margin: 18px 10px 18px 20px;
      height: 18px;
      border: 2px solid $disabled-button-color;
    }

    &:checked + .icon {
      background-color: $disabled-button-color;
    }
  }
}
